div.aletsch_toolbar {
    background-color: lightgray;
    width: 100%;
    padding: 6px 0px 6px 10px;
    font-size: 12px;
    font-weight: bold;
}

div.aletsch_content {
    height: 100%;
    width: 100%;
}

#aletsch_emptylist {
    top: 50%;
    text-align: center;
    color: rgb(136, 136, 136);
    font-size: 1.5em;
    font-weight: bold;
    padding: 50px;
}

div.west {
    width: 25%;
    height: 100%;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: top;
}

div.center {
    height: 100%;
    background-color: white;
    border: 1px solid gray;
    text-align: center;
    display: inline-block;
}

p.aletsch_title {   
    height: 25px;
    background-color: lightgray;
    padding: 2px 0px 2px 20px;
    font-weight: bold;
}

div.aletsch_center {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid gray;
    border-radius: 10px;
    width: 640px;
    background-color: lightgray;
}

div.aletsch_errTitle {
    border-radius: 9px 9px 0px 0px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid red;
    width: 100%;
    background-color: red;
    color: white;
}

div.aletsch_errCode {
    padding: 5px
}

div.aletsch_errMessage {
    padding: 5px;
}

table.aletsch_resultTable {
    
}

.aletsch_resultTable th {
    background-color: lightgray;
    color: black;
    border: 1px solid darkgray;
    text-align: center;
    padding: 5px;
}
.aletsch_resultTable td {
    border: 1px solid darkgray;
    padding: 5px;
    text-align: center;
}